@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: #151519;
  cursor: none;
  overflow: hidden;
}
.bg-overlay {
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  background: url(img/bg_grain.jpg) no-repeat center/cover; //I do not own this texture image. It's free to use for non-commercial use.
  animation: noiseGrain 2s steps(1, start) infinite;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(5 5 15 / 0.9);
  }
}
@keyframes noiseGrain {
  0%,
  100% {
    transform: translate(0%, 0%);
  }
  10% {
    transform: translate(2%, -1%);
  }
  20% {
    transform: translate(1%, -2%);
  }
  30% {
    transform: translate(-1%, 1%);
  }
  40% {
    transform: translate(0%, 3%);
  }
  50% {
    transform: translate(2%, 0%);
  }
  60% {
    transform: translate(1%, 2%);
  }
  70% {
    transform: translate(-1%, 1%);
  }
  80% {
    transform: translate(0%, -1%);
  }
  90% {
    transform: translate(2%, 0%);
  }
}
.custom-cursor-drag {
  position: fixed;
  top: 20;
  left: 20;
  width: 50px;
  height: 50px;
  // Link for the drag cursor image
  // https://www.flaticon.com/free-icons/hand-cursor
  background: url(img/drag.png) no-repeat center/cover;
  pointer-events: none;
  z-index: 5;
}
header {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  z-index: 100;
  h1 {
    font-family: "Amatic SC";
    font-size: 6rem;
    color: #fff;
    white-space: nowrap;
  }
}
.grid {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 150px;
  padding: 60px 120px;
  .img-wrapper {
    width: 300px;
    height: 400px;
    background: url(img/card_bg.png) no-repeat center/cover;
    opacity: 0.6;
    transition: opacity 0.5s ease-in-out;
    &:hover {
      opacity: 0.85;
      img {
        transform: rotate(0deg);
        opacity: 1;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.8;
      transform: rotate(-8deg);
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
  }
}
